.buttons {
  margin: 0 auto;
  width: 450px;
  display: flex;
  justify-content: space-around;
}

.buttons button {
  width: 200px;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.red-button {
  border: none;
  border-radius: 5px;
  background-color: #b53726;
}
